{% extends "::layout.html.twig" %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <p>
    {{ form(form) }}

        <ul class="record_actions">
    <p>
        <a href="{{ path('url') }}">
            Back to the list
        </a>
    </p>
    </div>
</div>
{% endblock %}
