{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    {% if (is_granted('ROLE_SUPER_ADMIN') == true) %}
        <p><h4>Administrador:</h4></p>
        <hr />
    {% else %}
        <p><h4>Meu Perfil:</h4></p>
        <hr />
    {% endif %}
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
