{% extends "::base.html.twig" %}

{% block title %}PhpbrAppBundle:Forum\Mensagem:deletarMensagem{% endblock %}

{% block body %}
<h1>Welcome to the Forum\Mensagem:deletarMensagem page</h1>
{% endblock %}
