{% extends "::layout.html.twig" %}

{% block title %}Forum - Novo tópico{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h3><a href="{{ path('forum_index') }}">Forum</a> | Novo Tópico</h3> 
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        phpbr.highlight();
    </script>
{% endblock %}
