# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Parameters
app/config/parameters.yml
app/config/parameters_prod.yml
app/config/config_prod.yml

# Managed by Composer
/app/bootstrap.php.cache
!app/console
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/
!src/Phpbr/Bundle/AppBundle/Resources/public/assets/js/vendor/

# Assets and user uploads
/web/bundles/*
!/web/bundles/phpbrapp/assets/images
/web/uploads/*
/web/js/*
/web/css/*

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar
/composer.lock

# More files
.DS_Store
*.orig
/.vagrant/
/.idea
/node_modules/
