{% extends '::base.html.twig' %}

{% block title %}
    ##php-br | irc.freenode.net
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="cssrewrite"
        '@PhpbrAppBundle/Resources/public/assets/css/*'
        'bundles/phpbrapp/assets/bower_components/foundation-datepicker/stylesheets/foundation-datepicker.css'
        'https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}

    <link href='https://fonts.googleapis.com/css?family=Mallanna:300italic,400italic,400,600,700,300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block headscripts %}
    {% javascripts
        'bundles/phpbrapp/assets/bower_components/modernizr/modernizr.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}


{% block body %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62101109-1', 'auto');
    ga('send', 'pageview');

</script>
    {% include "PhpbrAppBundle::_partials/header.html.twig" %}

    {% block content %}
        <div class="row main-div-background">
            <div class="large-11 large-centered columns">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
    
    {% include "PhpbrAppBundle::_partials/footer.html.twig" %}
{% endblock %}

{% block javascripts %}
{% endblock %}
