{% extends '::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="large-11 large-centered columns">
        <h3>Novo Código</h3>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
