{% extends "::layout.html.twig" %}

{% block content %}
    <div class="row main-div-background">
        <div class="large-12 columns">
            <h3><a href="{{ path('lista_meus_artigos') }}">Meus Artigos</a> :: Novo Artigo</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        phpbr.highlight();
        phpbr.countdown('countdown-resumo');
    </script>
{% endblock %}