{% extends "::layout.html.twig" %}

{% block content %}
    <div class="row main-div-background">
        <h3>Contato</h3>
        <p>
            Fale conosco preenchendo o formulário abaixo:
        </p>
    </div>
{% endblock %}
