{% extends "::layout.html.twig" %}

{% block content %}
    <div class="row main-div-background">
        <h3>Quem Somos</h3>
        <hr />
        <p>
            Estamos na rede de irc Freenode. Nosso canal é o ##php-br. 
            Se você deseja colaborar com este projeto, veja nosso 
            <a href="http://github.com/php-br-org/php-br">Github</a>.
        </p>
        <br />
        <h4>Colaboradores no Desenvolvimento:</h4>
        <div id="contributors" class="contributors">
        </div>

        Obrigado a todos os colaboradores de software e artigos publicados!
    </div>
{% endblock %}

