{% extends "::layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h3>Webchat</h3>
        <iframe src="https://kiwiirc.com/client/irc.freenode.net/?nick=usuario-ph|?##php-br" style="border:0; width:100%; height:450px;"></iframe>
    </div>
</div>
{% endblock %}