{% extends "::layout.html.twig" %}

{% block title %}
    Eventos
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h3>Eventos Pelo Brasil</h3>
            <hr>
        </div>
    </div>
{% endblock %}
