{% extends "::layout.html.twig" %}

{% block title %}
    Eventos
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        phpbr.highlight();
    </script>
{% endblock %}