{% extends "::layout_admin.html.twig" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <ul>
                <li>
                    <a href="{{ url('admin_artigos') }}">Artigos</a>
                </li>
                <li>
                    <a href="{{ url('admin_forum_categorias') }}">Forum Categorias</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
