{% extends '::layout.html.twig' %}

{% block content %}
    <div class="row main-div-background">
        <div class="large-11 large-centered columns">
        <h3>{{ 'phpbr.main.new_paste'|trans({}, 'main') }}</h3>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
