{% extends "::layout.html.twig" %}

{% block content %}
<div class="row main-div-background">
    <div class="large-12 columns">
        <h3>{{ 'phpbr.main.collaborate'|trans({}, 'main') }}</h3>
        <p>
            {{ 'phpbr.main.collabore_with_us'|trans({}, 'main') }}:
            <a href="http://github.com/php-br-org/php-br">Github</a>.
        </p>
    </div>
</div>
{% endblock %}
