<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-5 columns">
                <p>&copy; Copyright ##php-br | irc.freenode.net</p>
            </div>
            <div class="large-7 columns">
                <ul class="inline-list right">
                    <li><a href="#">Quem somos</a></li>
                    <li><a href="#">Webchat</a></li>
                    <li><a href="#">Colabore</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>