<div class="rodape-div">
    <footer class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-5 columns">
                    <p>&copy; Copyright ##php-br | irc.freenode.net</p>
                </div>
                <div class="large-7 columns">
                    <ul class="inline-list right">
                        <li><a href="{{ path('lista_artigos') }}">Artigos</a></li>
                        <li><a href="http://php-br.org/quem-somos">Quem somos</a></li>
                        <li><a href="http://php-br.org/webchat">Webchat</a></li>
                        <li><a href="http://php-br.org/colabore">Colabore</a></li>
                        <li><a href="http://cole.php-br.org/">Cole Códigos</a></li>
                        <li><a href="http://php-br.org/contato">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
