{% extends "::layout.html.twig" %}

{% block content %}
    <div class="row">
        <h3>Colabore</h3>
        <p>
            Colabore conosco: 
            <a href="http://github.com/php-br-org/php-br">Github</a>.
        </p>
    </div>
{% endblock %}
